<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/flatpickr/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ppal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
</head>

<body>

    <!-- Overlay para móvil (nuevo) -->
    <div class="sidebar-overlay" id="sidebarOverlay"></div>

    {% include 'usuario/header.html' %}

    <div class="contenedor">
        {% include 'usuario/menu.html' %}
        <main class="contenido">
            {% block contenido %}
            {% endblock %}
        </main>
    </div>

    {% include 'usuario/footer.html' %}

</body>

</html>