<aside class="sidebar">
    <ul>
        <li>
            <a href="{{ url_for('usuario.inicial') }}">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/inicio.png') }}" alt="Logo">
                <span class="sidebar-text">Inicio</span>
            </a>
        </li>

        <hr>

        <!-- Sección MI PERFIL con toggle -->
        <li>
            <a href="{{ url_for('usuario.personal') }}" class="sidebar-link">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/perfil.png') }}" alt="Logo">
                <span class="sidebar-text">Mi Perfil</span>
            </a>
        </li>

        <hr>

        <li>
            <a href="{{ url_for('usuario.vacantes') }}">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/misCosas.png') }}" alt="Logo">
                <span class="sidebar-text">Vacantes</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('usuario.postulaciones')}}">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/tareas.png') }}" alt="Logo">
                <span class="sidebar-text">Mis postulaciones</span>
            </a>
        </li>

        <hr>

        <li>
            <a href="#">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/configuracion.png') }}" alt="Logo">
                <span class="sidebar-text">Configuración</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('usuario.inicial') }}">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/salir.png') }}" alt="Logo">
                <span class="sidebar-text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>