<aside class="sidebar">
    <ul>
        <li>
            <a href="{{ url_for('usuario.inicial') }}">
                <span class="icon icon-home"></span>
                <span class="sidebar-text">Inicio</span>
            </a>
        </li>

        <hr>

        <!-- Sección MI PERFIL con toggle -->
        <li>
            <a href="{{ url_for('usuario.personal') }}" >
                <span class="icon icon-user"></span>
                <span class="sidebar-text">Mi Perfil</span>
            </a>
        </li>

        <hr>

        <li>
            <a href="{{ url_for('usuario.vacantes') }}">
                <span class="icon icon-briefcase"></span>
                <span class="sidebar-text">Vacantes</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('usuario.mis_postulaciones')  }}">
                <span class="icon icon-clipboard-check"></span>
                <span class="sidebar-text">Mis postulaciones</span>
            </a>
        </li>

        <hr>

        <li>
            <a href="{{ url_for('usuario.configuracion')}}">
                <span class="icon icon-settings"></span>
                <span class="sidebar-text">Configuración</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('usuario.inicial') }}">
                <span class="icon icon-logout"></span>
                <span class="sidebar-text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>