<aside class="sidebar">
    <ul>
        <li>
            <a href="{{ url_for('admin.inicial') }}">
                <span class="icon icon-home"></span>
                <span class="sidebar-text">Dashboard</span>
            </a>
        </li>

        <hr>

        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="icon icon-briefcase"></span>
                <span class="sidebar-text">Gestión hojas de vida</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li><a href="#">Ver hojas de vida</a></li>
            </ul>
        </li>

        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="icon icon-briefcase"></span>
                <span class="sidebar-text">Gestión de vacantes</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li><a href="{{ url_for('admin.listar_vacantes') }}">Todas las vacantes</a></li>
                <li><a href="{{ url_for('admin.crear_vacante') }}">Crear vacante</a></li>
            </ul>
        </li>

        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="icon icon-clipboard-check"></span>
                <span class="sidebar-text">Citaciones</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li><a href="{{  url_for('admin.citaciones')}}">ver citaciones</a></li>
            </ul>
        </li>

        <hr>

        <li>
            <a href="{{ url_for('web.cerrar') }}">
                <span class="icon icon-logout"></span>
                <span class="sidebar-text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>