<aside class="sidebar">
    <ul>
        <li>
            <a href="{{ url_for('usuario.inicial') }}">
                <img class="sidebar-icon" src="{{ url_for('static', filename='img/iconos/inicio.png') }}" alt="Logo">
                <span class="sidebar-text">Dashboard</span>
            </a>
        </li>

        <hr>

        <!-- Sección MI PERFIL con toggle -->
        <li>
            <a href="{{ url_for('usuario.personal') }}" class="sidebar-link">
                <span class="sidebar-text">Dashboard</span>
            </a>
        </li>

        <hr> 
        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="sidebar-text">Gestion de hojas de vida</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li>Ver todas las hojas de vida</li>
            </ul>
        </li>  
        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="sidebar-text">Gestión de vacantes</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li><a href="">Todas las vacantes</a></li>
                <li><a href="{{ url_for('admin.crear_vacante')}}">Crear Vacantes</a></li>
            </ul>
        </li>
            <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="sidebar-text">Postulaciones</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li>postulaciones</li>
            </ul>
        </li>
       </ul>

         <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="sidebar-text">Gestion de usuarios</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li>Agregar roles</li>
            </ul>
        </li>
       </ul>
</aside>