{% extends 'admin/base.html' %}
{% block contenido %}

<div class="main-area">
  
   <main class="page-content">

    <p class="dashboard-fecha">{{ fecha_hoy }}</p>
    <h1 class="dashboard-saludo">Hola, {{ current_user.nombre or 'admin' }}</h1>

        <div class="kpi-grid">
            <div class="kpi-card">
                <p class="kpi-label">Vacantes activas</p>
                <p class="kpi-value">{{ total_vacantes_activas }}</p>
                <p class="kpi-delta">↑ {{ vacantes_esta_semana }}</p>
            </div>
            <div class="kpi-card">
                <p class="kpi-label">Hojas recibidas</p>
                <p class="kpi-value">{{ total_hojas }}</p>
                <p class="kpi-delta">↑ {{ hojas_esta_semana }}</p>
            </div>
            <div class="kpi-card">
                <p class="kpi-label">Entrevistas</p>
                <p class="kpi-value">{{ total_entrevistas }}</p>
                <p class="kpi-delta down">↓ {{ entrevistas_semana_pasada }} vs. semana pasada</p>
            </div>
           <div class="kpi-card">
                <p class="kpi-label">Por cerrar</p>
                <p class="kpi-value">{{ total_por_cerrar }}</p>

                {% if dias_para_cierre is not none %}
                    {% if dias_para_cierre == 0 %}
                        <p class="kpi-delta down">Cierra hoy</p>
                    {% elif dias_para_cierre == 1 %}
                        <p class="kpi-delta down">Cierre en 1 día</p>
                    {% else %}
                        <p class="kpi-delta down">Cierre en {{ dias_para_cierre }} días</p>
                    {% endif %}
                {% else %}
                    <p class="kpi-delta">Sin cierres próximos</p>
                {% endif %}
            </div>
        </div>

        <div class="card-config">
            <div class="bar-wrap-grande">
                {{ grafico_html | safe }}
            </div>
        </div>

    </main>
</div>



{% endblock %}