<aside class="sidebar">
    <ul>
        <li>
            <a href="{{ url_for('admin.inicial') }}">
                <span class="icon icon-home"></span>
                <span class="sidebar-text">Dashboard</span>
            </a>
        </li>

        <hr>

        <li class="sidebar-toggle-section">
            <div class="toggle-header" onclick="toggleMenu(this)" aria-expanded="false">
                <span class="icon icon-user"></span>
                <span class="sidebar-text">Gestión de usuarios</span>
                <span class="toggle-arrow">▼</span>
            </div>
            <ul class="toggle-content">
                <li><a href="#">Crear Usuarios</a></li>
                <li><a href="#">Todos los usuarios</a></li>
            </ul>
        </li>

        <hr>

        <li>
            <a href="{{ url_for('usuario.configuracion')}}">
                <span class="icon icon-settings"></span>
                <span class="sidebar-text">Configuración</span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('web.cerrar') }}">
                <span class="icon icon-logout"></span>
                <span class="sidebar-text">Cerrar sesión</span>
            </a>
        </li>
    </ul>
</aside>